services:
  neo4j:
    image: neo4j:latest
    restart: always
    ports:
      - '7474:7474' # Browser UI
      - '7687:7687' # Bolt protocol
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs

volumes:
  neo4j_data:
  neo4j_logs:
